@tailwind base;
@tailwind components;
@tailwind utilities;
 

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; 

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */

font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.ql-editor {
  min-height:45vh;
}

@media screen and (min-device-width: 375px) and (max-device-width: 768px) {
  .ql-editor {
    min-height:30vh;
  }
}

@media screen and (min-device-width: 769px) and (max-device-width: 1350px) {
  .ql-editor {
    min-height:40vh;
  }
}

/* @media screen and (min-device-width: 1351px) and (max-device-width: 1850px) {
  .ql-editor {
    min-height:40vh;
  }
} */


.ql-editor {
  overflow-y: scroll;
  resize: vertical;
}

.quill {
  min-width: 190px;
  width: 100%;
  margin: auto;
}
 
.loader {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3795BD;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
